@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* .hero-background {
  background: linear-gradient(180deg, #160141 -47.15%, #390090 93.17%);
} */
.hero-background {
  background: radial-gradient(
    129.33% 86.22% at 86.74% 99.6%,
    #2f3c9e 0%,
    #253084 12%,
    #192264 30%,
    #10194d 47%,
    #0b133f 63%,
    #0a113b 78%,
    #000020 100%
  );
  background-repeat: no-repeat;
}

.input {
  /* Arrow */
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.9rem top 50%;
  background-size: 0.65rem auto;
}

.gradient-title {
  background: -webkit-linear-gradient(#54e8fd, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.63);
  color: #fff;
}

.pie-row .pie-wrap > div {
  background: red;
  margin: 0 auto;
}
